*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	display: flex;
	width: 100%;
	height: auto;
}
.slidebar{
	display: flex;
	flex-direction: column;
	width: 200px;
	height: 100vh;
	align-items: center;
	box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	transition: 1s;
	background: rgb(0, 0, 0);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 30px );
    -webkit-backdrop-filter: blur( 3px );
}
.slidebar .brand{
	display: flex;
	width: 100%;
	height: 40px;
	padding: 0 10px;
	margin: 10px 0;
	align-items: center;
	justify-content: space-between;
}
.slidebar .brand h3{
	font-weight: 300;
	font-size: 20px;
	color: #fff;
}

.slidebar .brand a i{
	color: #fff;
	font-size: 30px;
}
.slidebar .navbar {
	display: flex;
	width: 90%;
	height: auto;
	margin: 10px 0;
	align-items: center;
	justify-content: center;
}

.slidebar .navbar ul{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	align-items: flex-start;
	justify-content: center;
}
.slidebar .navbar ul li{
	height: 40px;
	width: 100%;
	margin: 5px 0;
}
.slidebar .navbar ul li a{
	display: flex;
	width: 100%;
	height: 100%;
	text-decoration: none;
	border-radius: 7px;
	align-items: center;
	justify-content: left;
}
.add .navbar:nth-child(4) {
	margin: 0;
}
.slidebar .navbar ul li a {
	color: #fff;
}
.slidebar .navbar ul li a span{
	font-size: 14px;
	font-weight: 300;
}
.slidebar .navbar ul li a i{
	display: flex;
	font-size: 20px;
	margin: 0 15px;
}
.user{
    display: flex;
    flex-direction: column;
	gap: 4px;
    width: 100%;
    height: 78px;
    align-items: center;
	text-align: center;
}


.user-img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.slidebar .user .name{
    display: flex;
    flex-direction: column;
}
.slidebar .user .name h5{
	color: #fff;
	font-size: 12px;
	
}
.slidebar .user .name span{
	color: #fff;
	font-size: 10px;
}
.slidebar.active{
	width: 70px;
}
.slidebar.active .brand{
	justify-content: center;
}
.slidebar.active .navbar ul{
	width: 90%;
}
.slidebar.active .user{
	width: 80%;
	height: 100%;
}
.slidebar.active .navbar ul li a{
	justify-content: center;
}
.slidebar.active .brand .logo,.slidebar.active .brand h3,.slidebar.active .navbar ul li a span,.slidebar.active .user .name{
	display: none;
}
.navbar{
    padding: 0rem 0rem;
}