
.ml-3 {
    margin-left: 1.75rem !important;
  }

.Search-rounded {
    border-radius: 12rem;
    }
.navbar{
    background-color: black;
}
.profile-dropdown{
    background-color:transparent;
    text-decoration: none;

}
.profile-dropdown-img{
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    width: 37px;
    border-width: 0;
    vertical-align: bottom;
}
.nav-txt{
    text-decoration: none;
    color: #ffffff;
}
.card-title {
    text-transform: uppercase;
  }

.card-img-top{
    height: 234px;
}
.card{
    border: 0;
}
.featured-prod-name{
    text-decoration: none;
    color: #000000;
}
.social-icons {
    font-size: 24px;
    margin-right: 10px;
  }
.bg-dark{
    background-color: #373737 !important;
}
.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%);
  }

  #radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }

  #radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }

  .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }